header.masthead
    .container#headercontent(tabindex="-1")
        .row
            .col-lg-12
                // #header-img-container
                //     #header-img-center
                //         img.img-fluid(src="/images/profile.png" alt="profile picture")
                .intro-text#header-intro-text
                    h1.name Welcome To Hapi
                    hr.star-light
                    |   Browse Hapi for resume's!