meta(charset='UTF-8')  
meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')  
meta(http-equiv='X-UA-Compatible', content='ie=edge')
meta(name="author", content="Sem Postma")
meta(name="description" content="A Webiste to browse for qualified people.")
link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')         
link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
link(href="https://cdn.quilljs.com/1.2.4/quill.snow.css", rel="stylesheet")
link(rel='stylesheet', href="/stylesheets/style.css")
// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->