nav#main-nav.navbar.fixed-top.navbar-toggleable-md.navbar-light
    button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExmaple" aria-expanded="false" aria-label="Toggle navigation")
        |   Menu
    - console.log('userisloggedin = ', data.loggedin == true)

    .container
        a.navbar-brand(href="/")
            img.img.img-fluid.hidden-xs-down(src="/images/nav_icon.png")
        a.navbar-brand(href="#page-top") Start
            
        .collapse.navbar-collapse#navbarExample
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item
                    a.nav-link(href="/search") Search
                li.nav-item
                    a.nav-link(href="/about") About
                li.nav-item
                    a.nav-link(href="/contact") Contact
                li.nav-item.dropdown
                    a#profile-drpdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') User                            
                    .dropdown-menu(aria-labelledby='profile-drpdown')
                        a.dropdown-item(href='/users/register') Register                              
                        a.dropdown-item(href='/users/login') Login
                        if data.loggedin
                            .dropdown-divider
                            a.dropdown-item(href="/users/profile") Profile Page
                            a.dropdown-item(href="/users/profile/mydocuments") My Documents
                            .dropdown-divider
                            a.dropdown-item(href="/users/logout") Logout


                        
