extends layout

block content
    section

        .card
            img.card-img.img-fluid(src="/images/content_img.jpg")
            .card-block
                h1.card-title Thanks for registring with us. We hope we can be of service
                    
                .card-body
                    p Hapi works with a document system. You can create your description, CV, etc as documents on your profile page.
                    p
                        button.btn.btn-primary.m-3(href="/users/login") Login and View your Profile!
                    p
                        button.btn.btn-info.m-3(href="/about") About Us
                    p
                        button.btn.btn-info.m-3(href="/contact") Contact
                    p
                        button.btn.btn-info.m-3(href="/") Home Page



