extends layout

block content
    section#main-content-page
        .container.container-fluid
            .row.row-fluid
                
                .col-12.mb-5
                    .card-img-top.embed-responsive.embed-responsive-16by9
                        iframe#content-video(frameborder="0", allowfullscreen="true" src="https://www.youtube.com/embed/uilkmUoXoLU?autoplay=1&controls=0&loop=0&rel=0&amp;showinfo=0")
                .col-12.mb-5
                    .card.fill
                        .card-block
                            h1.card-title Introduction
                            p.card-text Hapi is a resume/CV management system. You can view, store, browse resumes of your own, and those of others. With Hapi, it becomes alot easier to exchange your work experience and educational accomplishments. If you want to get started, you can create an account and fill in your user details and start using our services.
            .row.row-fluid
                .col-sm-12.mb-5
                    .card
                        img.card-img.img-fluid(src="/images/content_img2.jpg")
                        #content-img-text.card-img-overlay.text-right
                            .container-fluid
                                .col-8.offset-4
                                    h4.card-title Finding Solutions With Hapi
                                    p.card-text Almost 99% of people that use Hapi get a job (for real).
                        .card-block
                            h3.card-title Hapi is the number (n) organization, in connecting people. 
                            p.card-text If you want to join in on the action you can easily create an account and get started!
    section.mb-5
        .container.container-fluid
            .row.row-fluid
                .col-xs-12
                    .card.mb-5
                        .card-block
                            h2.card-title More about Hapi
                            p.card-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.